* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

table {
  width: 100%;
}

thead {
  background: #d2d2d2;
}

th,
td {
  padding: 0.5rem;
}

th button {
  cursor: pointer;
}

.table-progress {
  justify-content: center;
  display: flex;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-progress-content {
  width: 200px;
  border: 1px solid #ccc;
  height: 20px;
}

.pagination {
  margin-top: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.pagination-body {
  justify-content: space-between;
  display: flex;
  width: 30%;
}

.pagination button {
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
}

.reset {
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
}